extends includes/layout.pug

block content
    main.layout#content-inner
        #tlinks
            .article-sort-title #{__('page.tlinks')}<sup>#{site.tlinks.length}</sup>
            case theme.page.tlinks.style
                when 0
                    .tlinks-list
                        include includes/mixins/tlinksSort
                    include includes/mixins/pagination
                when 1
                    .tlinks-grid#tlinks-grid
                        each tlink in page.tlinks.data
                            include includes/widgets/tlinks/tlinkCard
                        include includes/mixins/pagination
                    if theme.comment.enable
                        include ./includes/widgets/third-party/comments/index.pug
        include includes/widgets/aside/aside
